.fade-in {
    opacity: 0;
    animation: fade_in 1s linear forwards;
    animation-delay: 2s;
}

.fade-in-svg {
    opacity: 0;
    animation: fade_in 1s linear forwards;
    animation-delay: 2s;
}

@keyframes fade_in {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.bounce-header {
    opacity: 1;
    animation: bounce 1s linear forwards;
    animation-delay: 2s;
}

@keyframes bounce {
    0% {
        transform: translateY(-10vh);
    }
    25% {
        transform: translateY(0vh);
    }
    50% {
        transform: translateY(-5vh);
    }
    100% {
        transform: translateY(0vh);
    }
}