html {
  overflow-x: hidden;
}

section {
  padding: 0 7%;
}

.vidBack {
  display: none;
}

.home {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-x: hidden;
  background-image: url("https://wallpapercave.com/wp/V9vd13A.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-top: 10vh;
}

.home .left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -webkit-transform: translateY(-10vh);
          transform: translateY(-10vh);
}

.home .left .pVersion {
  padding: 1rem 1rem;
  width: 20%;
  font-size: 1.25rem;
  text-align: center;
  background-color: #000;
  color: #fff;
  -webkit-transform: translateY(-10vh);
          transform: translateY(-10vh);
  cursor: default;
  opacity: 0;
  -webkit-animation: fade_in 1s linear forwards;
          animation: fade_in 1s linear forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.home .left .heading {
  font-size: 4rem;
  color: #fff;
  opacity: 0;
  -webkit-animation: fromLeft 1s linear forwards;
          animation: fromLeft 1s linear forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.home .left h1 {
  color: #fff;
  opacity: 0;
  -webkit-animation: fade 1s linear forwards;
          animation: fade 1s linear forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.home .left p {
  color: #fff;
  font-size: 1.7rem;
  padding: 1rem 0;
  opacity: 0;
  -webkit-animation: fromRight 1s linear forwards;
          animation: fromRight 1s linear forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.home .left button {
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  background: #fff;
  color: #000;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  opacity: 0;
  -webkit-animation: fade 1s linear forwards;
          animation: fade 1s linear forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.home .left button:hover {
  background: #bfbfbf;
}

.home .right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  text-align: center;
  margin-top: -15rem;
}

.home .right .xLine {
  font-size: 10rem;
}

.home .right .xLine .xLine__fromLeft {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  margin-top: 5rem;
  color: #fff;
  opacity: 0;
  -webkit-animation: xLeft 2s linear forwards;
          animation: xLeft 2s linear forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.home .right .xLine .xLine__fromRight {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  margin-top: -15rem;
  color: #fff;
  opacity: 0;
  -webkit-animation: xRight 1s linear forwards;
          animation: xRight 1s linear forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.home .right .img {
  position: absolute;
  margin-top: -20rem;
  opacity: 0;
  -webkit-animation: placeIMG 1s linear forwards;
          animation: placeIMG 1s linear forwards;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

.home .right .img img {
  width: 45vw;
  height: 45vh;
}

.home .right .scl_fade {
  opacity: 0;
  -webkit-animation: fade 1s linear forwards;
          animation: fade 1s linear forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.home .right .home_scl .scl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  -webkit-transform: translateY(12rem);
          transform: translateY(12rem);
  margin-left: 25vw;
  z-index: 8;
}

.home .right .home_scl .scl li a i {
  color: #fff;
  font-size: 1.5rem;
  margin: 0.5rem;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.home .right .home_scl .scl li a i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #a0a0a0;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes xLeft {
  0%, 50% {
    margin-top: -5rem;
    opacity: 0;
    font-size: 5rem;
  }
  75% {
    opacity: 1;
    font-size: 10rem;
  }
  100% {
    display: none;
    cursor: default;
  }
}

@keyframes xLeft {
  0%, 50% {
    margin-top: -5rem;
    opacity: 0;
    font-size: 5rem;
  }
  75% {
    opacity: 1;
    font-size: 10rem;
  }
  100% {
    display: none;
    cursor: default;
  }
}

@-webkit-keyframes xRight {
  0%, 50% {
    opacity: 0;
    font-size: 5rem;
  }
  75% {
    opacity: 1;
    font-size: 10rem;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes xRight {
  0%, 50% {
    opacity: 0;
    font-size: 5rem;
  }
  75% {
    opacity: 1;
    font-size: 10rem;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@-webkit-keyframes fromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes fromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@-webkit-keyframes fromRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes fromRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

.rightCircle {
  position: absolute;
  right: 25vw;
  -webkit-transform: translateY(-12.5rem);
          transform: translateY(-12.5rem);
  opacity: 0;
  -webkit-animation: aniCirc 1.5s linear forwards;
          animation: aniCirc 1.5s linear forwards;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.cssload-container * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cssload-container {
  margin: 19px auto 0 auto;
  max-width: 545px;
}

.cssload-container ul li {
  list-style: none;
}

.cssload-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cssload-flex-container li {
  padding: 10px;
  height: 97px;
  width: 97px;
  margin: 29px 19px;
  position: relative;
  text-align: center;
}

.cssload-loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  -webkit-animation: spin 3.74s infinite;
          animation: spin 3.74s infinite;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation-delay: -0.5 0.75s;
          animation-delay: -0.5 0.75s;
  margin-top: 3px;
}

.cssload-loading:after, .cssload-loading:before {
  position: absolute;
  content: '';
  height: 19px;
  width: 19px;
  display: block;
  background: #fff;
  border-radius: 100%;
  -webkit-animation: shrink 3.74s infinite;
          animation: shrink 3.74s infinite;
  -webkit-animation-delay: -0.5 0.75s;
          animation-delay: -0.5 0.75s;
}

.cssload-loading:before {
  left: 70%;
}

.cssload-loading:after {
  top: 70%;
}

@-webkit-keyframes aniCirc {
  0% {
    opacity: 0;
  }
  25%, 50%, 75%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    cursor: default;
  }
}

@keyframes aniCirc {
  0% {
    opacity: 0;
  }
  25%, 50%, 75%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    cursor: default;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    height: 73px;
    width: 73px;
    margin-top: 0;
  }
  33% {
    height: 0;
    width: 0;
    margin-top: 34px;
  }
  55% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
    margin-top: 34px;
    height: 0;
    width: 0;
  }
  70% {
    height: 73px;
    width: 73px;
    margin-top: 0;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    margin-top: 0;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    height: 73px;
    width: 73px;
    margin-top: 0;
  }
  33% {
    height: 0;
    width: 0;
    margin-top: 34px;
  }
  55% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
    margin-top: 34px;
    height: 0;
    width: 0;
  }
  70% {
    height: 73px;
    width: 73px;
    margin-top: 0;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    margin-top: 0;
  }
}

@-webkit-keyframes shrink {
  0%, 100% {
    height: 19px;
    width: 19px;
  }
  33%, 55% {
    height: 0;
    width: 0;
  }
  70% {
    height: 19px;
    width: 19px;
  }
}

@keyframes shrink {
  0%, 100% {
    height: 19px;
    width: 19px;
  }
  33%, 55% {
    height: 0;
    width: 0;
  }
  70% {
    height: 19px;
    width: 19px;
  }
}

@-webkit-keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes placeIMG {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes placeIMG {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 991px) {
  .bot {
    display: none;
  }
}
/*# sourceMappingURL=home.css.map */