body {
    height: 100vh;
}

:root {
    --cell-size: 150px;
    --mark-size: calc(var(--cell-size) * 0.9);
}

svg {
    position: absolute;
}

.circle-left {
    left: 0%;
    position: absolute;
    z-index: 1000;
    transform: translateY(50vh);
}

.circle-right {
    transform: rotate(180deg);
}

.heading {
    text-align: center;
    font-size: 2rem;
    color: #000;
    padding-top: 20vh;
}

// AI Board Stylings
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30vh;
    margin: 0 auto;
    opacity: 0;
    animation: fade 1s linear forwards;
    animation-delay: 4s;

    .boardCVS {
        position: absolute;
        border: 1px solid #000;
    }

    .playerOpt {
        position: absolute;
        width: 450px;
        height: 450px;
        margin-top: 10%;

        h2 {
            text-align: center;
            font-weight: 700;
        }

        .pTitle {
            margin-top: -15%;
        }

        .pTitle__sym {
            margin-top: 15%;
        }

        div {
            display: inline-block;
        }

        .pc, .x, .x2 {
            padding: 5px;
            background: #fff;
            color: #000;
            font-size: 1.5em;
            border-radius: 5px;
            margin-left: 70px;
            width: 150px;
            text-align: center;
            cursor: pointer;
            border: 1px solid #000;
            margin-top: 5%;
        }

        .local, .o, .o2 {
            padding: 5px;
            background-color: #fff;
            color: #000;
            font-size: 1.5em;
            border-radius: 5px;
            margin-left: 10px;
            width: 150px;
            text-align: center;
            cursor: pointer;
            border: 1px solid #000;
            margin-top: 5%;
        }

        .local:hover,
        .pc:hover,
        .x:hover,
        .o:hover,
        .x2:hover,
        .o2:hover {
            background-color: #011627;
            color: #fff;
        }

        .xHide,.oHide {
            display: none;
        }

        .play {
            font-size: 1.5em;
            width: 200px;
            display: block;
            margin: 25px auto;
            border-radius: 5px;
            border: 1px solid #011627;
            text-align: center;
            padding: 10px;
            background-color: #011627;
            color: #FFF;
            cursor: pointer;
            transition: 100ms width ease-in;
        }

        .play:hover{
            width: 250px;
        }

        .sHide {
            display: none;
        }
    }
}

.turnMove {
    background: #011627;
    width: 30%;
    height: 50px;
    border-radius: 15px;
    transform: translateY(-17rem);
    position: absolute;

    .turnMove__who {
        font-size: 1.5em;
        margin-top: 0.25rem;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        color: #fff;
    }
}

// Friend Board Stylings
.board {
    position: fixed;
    width: 100vw;
    height: 90vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell.X,
.cell.Circle {
  cursor: not-allowed;
}

/* --X START-- */
.cell.X::before,
.cell.X::after {
  background-color: #011627;
}

.board.X .cell:not(.X):not(.Circle):hover::before,
.board.X .cell:not(.X):not(.Circle):hover::after {
  background-color: #021f36;
}

.cell.X::before,
.cell.X::after,
.board.X .cell:not(.X):not(.Circle):hover::before,
.board.X .cell:not(.X):not(.Circle):hover::after {
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}

.cell.X::before,
.board.X .cell:not(.X):not(.Circle):hover::before {
  transform: rotate(45deg);
}

.cell.X::after,
.board.X .cell:not(.X):not(.Circle):hover::after {
  transform: rotate(-45deg);
}
/* --X END-- */

/* --CIRCLE START-- */
.cell.Circle::before {
  background-color: #0e0033;
}

.board.Circle .cell:not(.X):not(.Circle):hover::before,
.board.Circle .cell:not(.X):not(.Circle):hover::after {
  background-color: #0b0127;
}

.cell.Circle::before,
.cell.Circle::after,
.board.Circle .cell:not(.X):not(.Circle):hover::before,
.board.Circle .cell:not(.X):not(.Circle):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.cell.Circle::before,
.board.Circle .cell:not(.X):not(.Circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.Circle::after,
.board.Circle .cell:not(.X):not(.Circle):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: white;
}
/* --CIRCLE END-- */

/* --WINNING MESSAGE START-- */
.winning-message {
    position: absolute;
    top: -1000px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.4s ease;
}

.winningContainer {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 80vh;
    margin: auto;
    background: #fff;
    color: #fff;
    padding: 3rem;
}

.winningContainer > div {
    font-size: 2rem;
    -webkit-background-clip: text;
    color: #000;
    font-weight: 600;
    text-align: center;
}

.winning-message button {
    font-size: 3rem;
    background-color: transparent;
    padding: 0.25em 0.5em;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    transition: all 0.2s ease;
}

.winning-message button:hover {
    transform: scale(1.05);
}

.winning-message button:active {
    transform: scale(0.9);
}

.winning-message.show {
    top: 0;
}
/* --WINNING MESSAGE END-- */

.selectFirstPlayer {
    position: absolute;
    top: -1000px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.4s ease;
}

#selectPlayer {
    font-size: 2rem;
    -webkit-background-clip: text;
    color: #000;
    font-weight: 600;
    text-align: center;
}

.selectplayerContainer {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 80vh;
    margin: auto;
    background: #fff;
    color: #fff;
    padding: 3rem;
}

#playerChoice {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.selectFirstPlayer button {
    font-size: 3rem;
    cursor: pointer;
    background-color: transparent;
    outline: 0;
    border: 0;
    transition: all 0.2s ease;
}

.selectFirstPlayer button:hover {
    transform: scale(1.05);
}

.selectFirstPlayer button:active {
    transform: scale(0.9);
}
  
.selectFirstPlayer.show {
    top: 0;
}


.navigation {
    width: 50vw;
    height: 50px;
    display: none;
    background: transparent;
    transform: translateY(17rem);
    position: absolute;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    z-index: 8;

    button {
        font-size: 1.5rem;
        cursor: pointer;
        border: none;
        background-color: transparent;
        color: #000;
        transition: all 0.2s ease;
    }

    button:hover {
        transform: scale(1.05);
    }

    button:active {
        transform: scale(0.9);
    }
}

.navigation.show {
    display: flex;
}

.cursor {
    cursor: pointer;
}

.remCursor {
    cursor: default;
}

// Rules Styling
#aiRules, #locRules {
    font-size: 2rem;
    -webkit-background-clip: text;
    color: #000;
    font-weight: 600;
    text-align: center;

    .aiRule, .locRule {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: 500;
        text-align: left;
    }
}

.rules {
    position: absolute;
    top: -1000px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.4s ease;
    opacity: 0;
    animation: fade 0.1s linear forwards;
    animation-delay: 3s;
}

.rulesConts {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 80vh;
    margin: auto;
    background: #fff;
    color: #fff;
    padding: 3rem;
}

#rulesOpts {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.rules button {
    font-size: 2rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 2rem;
    width: 200px;
    border: 1px solid #011627;
    background-color: #011627;
    color: #fff;
    outline: 0;
    transition: all 0.2s ease;
}

.rules button:hover {
    transform: scale(1.05);
}

.rules button:active {
    transform: scale(0.9);
}

.rules.show {
    top: 0;
}

.hover {
    background: #bfbfbf;
}

.hide {
    display: none;
}

.gameOver{
    position: absolute;
    width: 450px;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.95);

    h1{
        text-align: center;
        font-size: 50px;
        color: #fff;
        margin: 40px 0 20px 0;
    }

    .winner-img{
        display: block;
        margin: 20px auto;
    }

    .play{
        font-size: 1.5em;
        width: 150px;
        display: block;
        margin: 25px auto;
        border-radius: 5px;
        border: 1px solid #fff;
        text-align: center;
        padding: 10px;
        background-color: #fff;
        color: #000;
        cursor: pointer;
        transition: 100ms width ease-in;
    }
    .play:hover{
        width: 200px;
    }
}

.activePlayer {
    background-color: #0b0127 !important;
    color: #fff !important;
}

.red {
    background: rgb(119, 0, 0);
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}