body {
  height: 100vh;
}

svg {
  position: absolute;
}

.circle-left {
  left: 0%;
  position: absolute;
  z-index: 1000;
  -webkit-transform: translateY(50vh);
          transform: translateY(50vh);
}

.circle-right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.heading {
  text-align: center;
  font-size: 2rem;
  color: #000;
  padding-top: 20vh;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 30vh;
  margin: 0 auto;
}

.container #boardCVS {
  position: absolute;
  border: 1px solid #000;
}

.container #boardCVS:hover {
  background: #bfbfbf;
}

.container .playerOpt {
  position: absolute;
  width: 450px;
  height: 450px;
  margin-top: 10%;
}

.container .playerOpt h2 {
  text-align: center;
  font-weight: 700;
}

.container .playerOpt .pTitle {
  margin-top: -15%;
}

.container .playerOpt .pTitle__sym {
  margin-top: 15%;
}

.container .playerOpt div {
  display: inline-block;
}

.container .playerOpt .pc, .container .playerOpt .x {
  padding: 5px;
  background: #fff;
  color: #000;
  font-size: 1.5em;
  border-radius: 5px;
  margin-left: 70px;
  width: 150px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #000;
  margin-top: 5%;
}

.container .playerOpt .local, .container .playerOpt .o {
  padding: 5px;
  background-color: #fff;
  color: #000;
  font-size: 1.5em;
  border-radius: 5px;
  margin-left: 10px;
  width: 150px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #000;
  margin-top: 5%;
}

.container .playerOpt .local:hover,
.container .playerOpt .pc:hover,
.container .playerOpt .x:hover,
.container .playerOpt .o:hover {
  background-color: #011627;
  color: #fff;
}

.container .playerOpt .play {
  font-size: 1.5em;
  width: 100px;
  display: block;
  margin: 25px auto;
  border-radius: 5px;
  border: 1px solid #011627;
  text-align: center;
  padding: 10px;
  background-color: #011627;
  color: #FFF;
  cursor: pointer;
  -webkit-transition: 100ms width ease-in;
  transition: 100ms width ease-in;
}

.container .playerOpt .play:hover {
  width: 120px;
}

.turnMove {
  background: #011627;
  width: 30%;
  height: 50px;
  border-radius: 15px;
  -webkit-transform: translateY(-17rem);
          transform: translateY(-17rem);
  position: absolute;
}

.turnMove .turnMove__who {
  font-size: 1.5em;
  margin-top: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.cursor {
  cursor: pointer;
}

.remCursor {
  cursor: default;
}

.hover {
  background: #bfbfbf;
}

.hide {
  display: none;
}

.gameOver {
  position: absolute;
  width: 450px;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.95);
}

.gameOver h1 {
  text-align: center;
  font-size: 50px;
  color: #fff;
  margin: 40px 0 20px 0;
}

.gameOver .winner-img {
  display: block;
  margin: 20px auto;
}

.gameOver .play {
  font-size: 1.5em;
  width: 150px;
  display: block;
  margin: 25px auto;
  border-radius: 5px;
  border: 1px solid #fff;
  text-align: center;
  padding: 10px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  -webkit-transition: 100ms width ease-in;
  transition: 100ms width ease-in;
}

.gameOver .play:hover {
  width: 200px;
}

.active {
  background-color: #0b0127 !important;
  color: #fff !important;
}

.red {
  background: #770000;
}
/*# sourceMappingURL=game.css.map */