body {
    height: 100vh;
    overflow: hidden;
}

:root {
    --cell-size: 150px;
    --mark-size: calc(var(--cell-size) * 0.9);
}

svg {
    position: absolute;
}

.circle-left {
    left: 0%;
    position: absolute;
    z-index: 1000;
    transform: translateY(50vh);
}

.circle-right {
    transform: rotate(180deg);
}

.vidBack, .vidCrowd, .vidGoal, .vidRef, .vidMatch {
    display: none;
}

.heading {
    text-align: center;
    font-size: 2rem;
    color: #000;
    padding-top: 20vh;
}

.restartBtn {
    margin-top: 1rem;
    position: absolute;
    display: flex;

    #restartBtn {
        cursor: pointer;
        border: none;
        outline: none;
        font-size: 1.5rem;
        font-weight: 500;
        background: transparent;
        transform: translateX(46vw);
        z-index: 8;
    }
}

// AI Board Stylings
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30vh;
    margin: 0 auto;
    opacity: 0;
    animation: fade 1s linear forwards;
    animation-delay: 4s;

    .boardCVS {
        position: absolute;
        border: 1px solid #000;
    }

    .boardImg {
        background-image: url('https://scontent.fmnl13-2.fna.fbcdn.net/v/t1.15752-9/256409961_391211612687699_7355594803700837142_n.png?_nc_cat=111&ccb=1-5&_nc_sid=ae9488&_nc_eui2=AeFgvHyM4y7yHwbuZC7ugNDt1I5khWcFrOXUjmSFZwWs5SA2BkU5CkRucy-cVKwB-Btt8DfU9QA2PfeRIFxPHSo8&_nc_ohc=mrGSRS1OKjQAX8yaMgo&_nc_ht=scontent.fmnl13-2.fna&oh=26de5309f4506079b29caf6ff78f417f&oe=61B37980');
    }

    .playerOpt {
        position: absolute;
        width: 450px;
        height: 450px;
        margin-top: 10%;

        h2 {
            text-align: center;
            font-weight: 700;
        }

        .pTitle {
            margin-top: -15%;
        }

        .pTitle__sym {
            margin-top: 15%;
        }

        div {
            display: inline-block;
        }

        .playerSym {
            img {
                height: 140px;
            }
        }

        .pc, .x {
            padding: 5px;
            background: #fff;
            color: #000;
            font-size: 1.5em;
            border-radius: 5px;
            margin-left: 70px;
            width: 150px;
            text-align: center;
            cursor: pointer;
            border: 1px solid #000;
            margin-top: 5%;
        }

        .local, .o {
            padding: 5px;
            background-color: #fff;
            color: #000;
            font-size: 1.5em;
            border-radius: 5px;
            margin-left: 10px;
            width: 150px;
            text-align: center;
            cursor: pointer;
            border: 1px solid #000;
            margin-top: 5%;
        }

        .local:hover,
        .pc:hover,
        .x:hover,
        .o:hover {
            background-color: #011627;
            color: #fff;
        }

        .xHide,.oHide {
            display: none;
        }

        .play {
            font-size: 1.5em;
            width: 200px;
            display: block;
            margin: 25px auto;
            border-radius: 5px;
            border: 1px solid #011627;
            text-align: center;
            padding: 10px;
            background-color: #011627;
            color: #FFF;
            cursor: pointer;
            transition: 100ms width ease-in;
        }

        .play:hover{
            width: 250px;
        }

        .sHide {
            display: none;
        }
    }
}

.fbPitch {
    width: 450px;
    height: 450px;
    background-image: url('https://scontent.fmnl13-2.fna.fbcdn.net/v/t1.15752-9/256409961_391211612687699_7355594803700837142_n.png?_nc_cat=111&ccb=1-5&_nc_sid=ae9488&_nc_eui2=AeFgvHyM4y7yHwbuZC7ugNDt1I5khWcFrOXUjmSFZwWs5SA2BkU5CkRucy-cVKwB-Btt8DfU9QA2PfeRIFxPHSo8&_nc_ohc=mrGSRS1OKjQAX8yaMgo&_nc_ht=scontent.fmnl13-2.fna&oh=26de5309f4506079b29caf6ff78f417f&oe=61B37980');
    position: absolute;
}

// Friend Board Stylings
.board {
    position: fixed;
    width: 100vw;
    height: 90vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell.Bayern,
.cell.PSG {
  cursor: not-allowed;
}

/* --X START-- */
.cell.Bayern::before,
.cell.Bayern::after {
  background: url('https://scontent.fmnl13-1.fna.fbcdn.net/v/t1.15752-9/256480862_229958255897304_4956006697993908527_n.png?_nc_cat=104&ccb=1-5&_nc_sid=ae9488&_nc_eui2=AeHdsxnOwbm3hjtqKCzVGtia2M3tTa0SvxLYze1NrRK_Es2ptonZyyGffT6pPKg4FF-dS1Mlz96WQBr6r-QVnAtJ&_nc_ohc=Sfucy0On3soAX_UtFfv&_nc_ht=scontent.fmnl13-1.fna&oh=baf07db9975322c4b923d34562778edb&oe=61B5D348');
}

.board.Bayern .cell:not(.Bayern):not(.PSG):hover::before,
.board.Bayern .cell:not(.Bayern):not(.PSG):hover::after {
    background: url('https://scontent.fmnl13-1.fna.fbcdn.net/v/t1.15752-9/256480862_229958255897304_4956006697993908527_n.png?_nc_cat=104&ccb=1-5&_nc_sid=ae9488&_nc_eui2=AeHdsxnOwbm3hjtqKCzVGtia2M3tTa0SvxLYze1NrRK_Es2ptonZyyGffT6pPKg4FF-dS1Mlz96WQBr6r-QVnAtJ&_nc_ohc=Sfucy0On3soAX_UtFfv&_nc_ht=scontent.fmnl13-1.fna&oh=baf07db9975322c4b923d34562778edb&oe=61B5D348');
}

.cell.Bayern::before,
.cell.Bayern::after,
.board.Bayern .cell:not(.Bayern):not(.PSG):hover::before,
.board.Bayern .cell:not(.Bayern):not(.PSG):hover::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
}

/* --X END-- */

/* --CIRCLE START-- */
.cell.PSG::before {
    background: url('https://scontent.fmnl13-2.fna.fbcdn.net/v/t1.15752-9/256718088_854397111846094_8466162913187202330_n.png?_nc_cat=107&ccb=1-5&_nc_sid=ae9488&_nc_eui2=AeHohzVOBvWK3qnMpzZe8d_9ZNnWMhPs3cNk2dYyE-zdw199ORTGWAsVS_He1dG0BYG_7_fo0NFQR96mYtKs1QIr&_nc_ohc=sYSjh0wFyawAX_wmucB&_nc_oc=AQk2m53YGp_oqXS7XX2VPgW4i5umHYkg5d1ATeY8BXGjmYlRlRm9Pg2ObhtNf8dsjrmX0tlVvXyhOS-3abdMYrY3&_nc_ht=scontent.fmnl13-2.fna&oh=3ab1e0ec7a50857f7825cf2defda488b&oe=61B4E900');
}

.board.PSG .cell:not(.Bayern):not(.PSG):hover::before,
.board.PSG .cell:not(.Bayern):not(.PSG):hover::after {
    background: url('https://scontent.fmnl13-2.fna.fbcdn.net/v/t1.15752-9/256718088_854397111846094_8466162913187202330_n.png?_nc_cat=107&ccb=1-5&_nc_sid=ae9488&_nc_eui2=AeHohzVOBvWK3qnMpzZe8d_9ZNnWMhPs3cNk2dYyE-zdw199ORTGWAsVS_He1dG0BYG_7_fo0NFQR96mYtKs1QIr&_nc_ohc=sYSjh0wFyawAX_wmucB&_nc_oc=AQk2m53YGp_oqXS7XX2VPgW4i5umHYkg5d1ATeY8BXGjmYlRlRm9Pg2ObhtNf8dsjrmX0tlVvXyhOS-3abdMYrY3&_nc_ht=scontent.fmnl13-2.fna&oh=3ab1e0ec7a50857f7825cf2defda488b&oe=61B4E900');
}

.cell.PSG::before,
.cell.PSG::after,
.board.PSG .cell:not(.Bayern):not(.PSG):hover::before,
.board.PSG .cell:not(.Bayern):not(.PSG):hover::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}

.cell.PSG::before,
.board.PSG .cell:not(.Bayern):not(.PSG):hover::before {
    width: 150px;
    height: 150px;
}

.cell.PSG::after,
.board.PSG .cell:not(.Bayern):not(.PSG):hover::after {
  width: 150px;
  height: 150px;
  background: url('https://scontent.fmnl13-2.fna.fbcdn.net/v/t1.15752-9/256718088_854397111846094_8466162913187202330_n.png?_nc_cat=107&ccb=1-5&_nc_sid=ae9488&_nc_eui2=AeHohzVOBvWK3qnMpzZe8d_9ZNnWMhPs3cNk2dYyE-zdw199ORTGWAsVS_He1dG0BYG_7_fo0NFQR96mYtKs1QIr&_nc_ohc=sYSjh0wFyawAX_wmucB&_nc_oc=AQk2m53YGp_oqXS7XX2VPgW4i5umHYkg5d1ATeY8BXGjmYlRlRm9Pg2ObhtNf8dsjrmX0tlVvXyhOS-3abdMYrY3&_nc_ht=scontent.fmnl13-2.fna&oh=3ab1e0ec7a50857f7825cf2defda488b&oe=61B4E900');
  background-repeat: no-repeat;
}
/* --CIRCLE END-- */

/* --WINNING MESSAGE START-- */
.winning-message {
    position: absolute;
    top: -1000px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.4s ease;
}

.winningContainer {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 80vh;
    margin: auto;
    background: #fff;
    color: #fff;
    padding: 3rem;
}

.winningContainer > div {
    font-size: 2rem;
    -webkit-background-clip: text;
    color: #000;
    font-weight: 600;
    text-align: center;
}

.winning-message button {
    font-size: 3rem;
    background-color: transparent;
    padding: 0.25em 0.5em;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    transition: all 0.2s ease;
}

.winning-message button:hover {
    transform: scale(1.05);
}

.winning-message button:active {
    transform: scale(0.9);
}

.winning-message.show {
    top: 0;
}
/* --WINNING MESSAGE END-- */

.selectFirstPlayer {
    position: absolute;
    top: -1000px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.4s ease;
}

#selectPlayer {
    font-size: 2rem;
    -webkit-background-clip: text;
    color: #000;
    font-weight: 600;
    text-align: center;
}

.selectplayerContainer {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 80vh;
    margin: auto;
    background: #fff;
    color: #fff;
    padding: 3rem;
}

#playerChoice {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.selectFirstPlayer button {
    font-size: 3rem;
    cursor: pointer;
    background-color: transparent;
    outline: 0;
    border: 0;
    transition: all 0.2s ease;
}

.selectFirstPlayer button:hover {
    transform: scale(1.05);
}

.selectFirstPlayer button:active {
    transform: scale(0.9);
}
  
.selectFirstPlayer.show {
    top: 0;
}


.navigation {
    width: 50vw;
    height: 50px;
    display: none;
    background: transparent;
    transform: translateY(17rem);
    position: absolute;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    z-index: 8;

    button {
        font-size: 1.5rem;
        cursor: pointer;
        border: none;
        background-color: transparent;
        color: #000;
        transition: all 0.2s ease;
    }

    button:hover {
        transform: scale(1.05);
    }

    button:active {
        transform: scale(0.9);
    }
}

.navigation.show {
    display: flex;
}

.cursor {
    cursor: pointer;
}

.remCursor {
    cursor: default;
}

// Rules Styling
#aiRules, #locRules {
    font-size: 2rem;
    -webkit-background-clip: text;
    color: #000;
    font-weight: 600;
    text-align: center;

    .aiRule, .locRule {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: 500;
        text-align: left;
    }
}

.rules {
    position: absolute;
    top: -1000px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.4s ease;
    opacity: 0;
    animation: fade 0.1s linear forwards;
    animation-delay: 3s;
}

.rulesConts {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 80vh;
    margin: auto;
    background: #fff;
    color: #fff;
    padding: 3rem;
}

#rulesOpts {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.rules button {
    font-size: 2rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 2rem;
    width: 200px;
    border: 1px solid #011627;
    background-color: #011627;
    color: #fff;
    outline: 0;
    transition: all 0.2s ease;
}

.rules button:hover {
    transform: scale(1.05);
}

.rules button:active {
    transform: scale(0.9);
}

.rules.show {
    top: 0;
}

.hover {
    background: #bfbfbf;
}

.hide {
    display: none;
}

.gameOver{
    position: absolute;
    width: 450px;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.95);

    h1{
        text-align: center;
        font-size: 50px;
        color: #fff;
        margin: 40px 0 20px 0;
    }

    .winner-img{
        display: block;
        margin: 20px auto;
    }

    .play{
        font-size: 1.5em;
        width: 150px;
        display: block;
        margin: 25px auto;
        border-radius: 5px;
        border: 1px solid #fff;
        text-align: center;
        padding: 10px;
        background-color: #fff;
        color: #000;
        cursor: pointer;
        transition: 100ms width ease-in;
    }
    .play:hover{
        width: 200px;
    }
}

.activePlayer {
    background-color: #0b0127 !important;
    color: #fff !important;
}

.red {
    background: rgb(119, 0, 0);
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

    // Phone Queries
    @media screen and (min-width: 376px) and (max-width: 425px) {
        svg {
            display: none;
        }
        .selectplayerContainer,
        .rulesConts,
        .winningContainer {
            transform: scale(0.7);
            position: absolute;
            top: -150px;
            width: 550px;
            height: 1000px;
        }
        .container {
            .boardImg {
                background-position: center;
                background-size: cover;
            }
            .playerOpt {
                width: 375px;
                .pTitle {
                    margin-top: -8%;
                }
                .pc, .local {
                    padding: 4px;
                    font-size: 1em;
                    margin-left: 1.25rem;
                }
                .x, .o {
                    width: 75px;
                }
                .pTitle__sym {
                    margin-top: 10%;
                    font-size: 1em;
                }
                .playerSym {
                    margin-top: 0%;
                    margin-left: 2.25rem;
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
                .play {
                    font-size: 1em;
                    width: 150px;
                }
            }
            .boardCVS {
                width: 250px;
                height: 250px;
            }
        }
        .restartBtn {
            #restartBtn {
                transform: translateX(30vw);
            }
        }
        .gameOver {
            width: 250px;
            height: 250px;
            h1 {
                font-size: 30px;
            }
            .winner-img {
                width: 75px;
                height: 75px;
            }
            .play {
                font-size: 1em;
            }
        }
        .fbPitch {
            width: 250px;
            height: 250px;
            background-position: center;
            background-size: cover;
        }
        .cell {
            width: 83px;
            height: 83px;
        }
        .cell.Bayern::before,
        .cell.Bayern::after,
        .board.Bayern .cell:not(.Bayern):not(.PSG):hover::before,
        .board.Bayern .cell:not(.Bayern):not(.PSG):hover::after {
            content: "";
            position: absolute;
            width: 80px;
            height: 75px;
            background-repeat: no-repeat;
        }
        .cell.PSG::before,
        .board.PSG .cell:not(.Bayern):not(.PSG):hover::before {
            width: 80px;
            height: 75px;
        }
        .cell.PSG::after,
        .board.PSG .cell:not(.Bayern):not(.PSG):hover::after {
            width: 80px;
            height: 75px;
            background: url('https://scontent.fmnl13-2.fna.fbcdn.net/v/t1.15752-9/256718088_854397111846094_8466162913187202330_n.png?_nc_cat=107&ccb=1-5&_nc_sid=ae9488&_nc_eui2=AeHohzVOBvWK3qnMpzZe8d_9ZNnWMhPs3cNk2dYyE-zdw199ORTGWAsVS_He1dG0BYG_7_fo0NFQR96mYtKs1QIr&_nc_ohc=sYSjh0wFyawAX_wmucB&_nc_oc=AQk2m53YGp_oqXS7XX2VPgW4i5umHYkg5d1ATeY8BXGjmYlRlRm9Pg2ObhtNf8dsjrmX0tlVvXyhOS-3abdMYrY3&_nc_ht=scontent.fmnl13-2.fna&oh=3ab1e0ec7a50857f7825cf2defda488b&oe=61B4E900');
            background-repeat: no-repeat;
        }
        .navigation.show {
            transform: translateY(12rem);
            font-size: 1rem;
            display: flex;
            flex-direction: column;
        }
    }
    @media screen and (min-width: 320px) and (max-width: 375px) {
        svg {
            display: none;
        }
        .selectplayerContainer,
        .rulesConts,
        .winningContainer {
            transform: scale(0.7);
            position: absolute;
            top: -150px;
            width: 500px;
            height: 1000px;
        }
        .container {
            .playerOpt {
                width: 375px;
                .pTitle {
                    margin-top: -8%;
                }
                .pc, .local {
                    padding: 4px;
                    font-size: 1em;
                    margin-left: 1.25rem;
                }
                .x, .o {
                    width: 75px;
                }
                .pTitle__sym {
                    margin-top: 10%;
                    font-size: 1em;
                }
                .playerSym {
                    margin-top: 0%;
                    margin-left: 2.25rem;
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
                .play {
                    font-size: 1em;
                    width: 150px;
                }
            }
            .boardCVS {
                width: 250px;
                height: 250px;
            }
        }
        .restartBtn {
            #restartBtn {
                transform: translateX(30vw);
            }
        }
        .gameOver {
            width: 250px;
            height: 250px;
            h1 {
                font-size: 30px;
            }
            .winner-img {
                width: 75px;
                height: 75px;
            }
            .play {
                font-size: 1em;
            }
        }
        .fbPitch {
            width: 250px;
            height: 250px;
            background-position: center;
            background-size: cover;
        }
        .cell {
            width: 83px;
            height: 83px;
        }
        .cell.Bayern::before,
        .cell.Bayern::after,
        .board.Bayern .cell:not(.Bayern):not(.PSG):hover::before,
        .board.Bayern .cell:not(.Bayern):not(.PSG):hover::after {
            content: "";
            position: absolute;
            width: 80px;
            height: 75px;
            background-repeat: no-repeat;
        }
        .cell.PSG::before,
        .board.PSG .cell:not(.Bayern):not(.PSG):hover::before {
            width: 80px;
            height: 75px;
        }
        .cell.PSG::after,
        .board.PSG .cell:not(.Bayern):not(.PSG):hover::after {
            width: 80px;
            height: 75px;
            background: url('https://scontent.fmnl13-2.fna.fbcdn.net/v/t1.15752-9/256718088_854397111846094_8466162913187202330_n.png?_nc_cat=107&ccb=1-5&_nc_sid=ae9488&_nc_eui2=AeHohzVOBvWK3qnMpzZe8d_9ZNnWMhPs3cNk2dYyE-zdw199ORTGWAsVS_He1dG0BYG_7_fo0NFQR96mYtKs1QIr&_nc_ohc=sYSjh0wFyawAX_wmucB&_nc_oc=AQk2m53YGp_oqXS7XX2VPgW4i5umHYkg5d1ATeY8BXGjmYlRlRm9Pg2ObhtNf8dsjrmX0tlVvXyhOS-3abdMYrY3&_nc_ht=scontent.fmnl13-2.fna&oh=3ab1e0ec7a50857f7825cf2defda488b&oe=61B4E900');
            background-repeat: no-repeat;
        }
        .navigation.show {
            transform: translateY(12rem);
            font-size: 1rem;
            display: flex;
            flex-direction: column;
        }
    }